body
	font-size 62.5%
	font-family "Raleway",Arial

	#container
		padding 0 10px

		h1
			color #B09AFF
			font-weight 200

		h2
			color #595959
			font-weight 300
			font-size 1.5em
			line-height 1.5em

		.box-relative
			margin 10px 0
			position relative
			height 10px
			background #DADADA
			width 100%

			.box
				background #B09AFF
				position absolute
				left 0
				top 0
				bottom 0
				width 0
